@import "../../Utils/_Utils"

// card
theme--card--------------------normal = null                    bg(hsla(  0,  0%, 13%, 0.992) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px)            )
theme--card--------------------hover  = null                    bg(hsla(  0,  0%, 13%, 0.992) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px)            )
theme--card--------------------active = null                    bg(hsla(  0,  0%, 13%, 0.992) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px)            )
// card
theme--header------------------normal = hsla(0, 0%,  95%, 1.00) bg(hsla(  0,  0%, 27%, 0.99 ) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px 6px 0px 0px))
theme--header------------------hover  = hsla(0, 0%,  95%, 1.00) bg(hsla(  0,  0%, 27%, 0.99 ) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px 6px 0px 0px))
theme--header------------------active = hsla(0, 0%,  95%, 1.00) bg(hsla(  0,  0%, 27%, 0.99 ) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px 6px 0px 0px))
// card
theme--content-----------------normal = hsla(0, 0%,  90%, 1.00) bg(hsla(  0,  0%,  0%, 0.00 ) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px)            )
theme--content-----------------hover  = hsla(0, 0%,  90%, 1.00) bg(hsla(  0,  0%,  0%, 0.00 ) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px)            )
theme--content-----------------active = hsla(0, 0%,  90%, 1.00) bg(hsla(  0,  0%,  0%, 0.00 ) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px)            )
// card
theme--footer------------------normal = hsla(0, 0%,  90%, 1.00) bg(hsla(  0,  0%, 17%, 0.99 ) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (0px 0px 6px 6px))
theme--footer------------------hover  = hsla(0, 0%,  90%, 1.00) bg(hsla(  0,  0%, 17%, 0.99 ) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (0px 0px 6px 6px))
theme--footer------------------active = hsla(0, 0%,  90%, 1.00) bg(hsla(  0,  0%, 17%, 0.99 ) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (0px 0px 6px 6px))

// card
theme--dialog-card-------------normal = theme--card-----normal
theme--dialog-card-------------hover  = theme--card-----hover
theme--dialog-card-------------active = theme--card-----active
// card
theme--dialog-header-----------normal = theme--header---normal
theme--dialog-header-----------hover  = theme--header---hover
theme--dialog-header-----------active = theme--header---active
// card
theme--dialog-content----------normal = theme--content--normal
theme--dialog-content----------hover  = theme--content--hover
theme--dialog-content----------active = theme--content--active
// card
theme--dialog-footer-----------normal = theme--footer---normal
theme--dialog-footer-----------hover  = theme--footer---hover
theme--dialog-footer-----------active = theme--footer---active

// card
theme--info-dialog-card--------normal = null                    bg(hsla(240,  2%, 13%, 0.992) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px)            )
theme--info-dialog-card--------hover  = null                    bg(hsla(240,  2%, 13%, 0.992) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px)            )
theme--info-dialog-card--------active = null                    bg(hsla(240,  2%, 13%, 0.992) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px)            )
// card
theme--info-dialog-header------normal = hsla(0, 0%,  95%, 1.00) bg(hsla(240, 35%, 27%, 0.99 ) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px 6px 0px 0px))
theme--info-dialog-header------hover  = hsla(0, 0%,  95%, 1.00) bg(hsla(240, 35%, 27%, 0.99 ) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px 6px 0px 0px))
theme--info-dialog-header------active = hsla(0, 0%,  95%, 1.00) bg(hsla(240, 35%, 27%, 0.99 ) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px 6px 0px 0px))
// card
theme--info-dialog-content-----normal = theme--dialog-content--normal
theme--info-dialog-content-----hover  = theme--dialog-content--hover
theme--info-dialog-content-----active = theme--dialog-content--active
// card
theme--info-dialog-footer------normal = theme--dialog-footer--normal
theme--info-dialog-footer------hover  = theme--dialog-footer--hover
theme--info-dialog-footer------active = theme--dialog-footer--active

// card
theme--warning-dialog-card-----normal = null                    bg(hsla( 60,  2%, 13%, 0.992) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px)            )
theme--warning-dialog-card-----hover  = null                    bg(hsla( 60,  2%, 13%, 0.992) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px)            )
theme--warning-dialog-card-----active = null                    bg(hsla( 60,  2%, 13%, 0.992) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px)            )
// card
theme--warning-dialog-header---normal = hsla(0, 0%,  95%, 1.00) bg(hsla( 60, 35%, 27%, 0.99 ) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px 6px 0px 0px))
theme--warning-dialog-header---hover  = hsla(0, 0%,  95%, 1.00) bg(hsla( 60, 35%, 27%, 0.99 ) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px 6px 0px 0px))
theme--warning-dialog-header---active = hsla(0, 0%,  95%, 1.00) bg(hsla( 60, 35%, 27%, 0.99 ) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px 6px 0px 0px))
// card
theme--warning-dialog-content--normal = theme--dialog-content--normal
theme--warning-dialog-content--hover  = theme--dialog-content--hover
theme--warning-dialog-content--active = theme--dialog-content--active
// card
theme--warning-dialog-footer---normal = theme--dialog-footer--normal
theme--warning-dialog-footer---hover  = theme--dialog-footer--hover
theme--warning-dialog-footer---active = theme--dialog-footer--active

// card
theme--error-dialog-card-------normal = null                    bg(hsla(  0,  2%, 13%, 0.992) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px)            )
theme--error-dialog-card-------hover  = null                    bg(hsla(  0,  2%, 13%, 0.992) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px)            )
theme--error-dialog-card-------active = null                    bg(hsla(  0,  2%, 13%, 0.992) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px)            )
// card
theme--error-dialog-header-----normal = hsla(0, 0%,  95%, 1.00) bg(hsla(  0, 35%, 27%, 0.99 ) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px 6px 0px 0px))
theme--error-dialog-header-----hover  = hsla(0, 0%,  95%, 1.00) bg(hsla(  0, 35%, 27%, 0.99 ) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px 6px 0px 0px))
theme--error-dialog-header-----active = hsla(0, 0%,  95%, 1.00) bg(hsla(  0, 35%, 27%, 0.99 ) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) (6px 6px 0px 0px))
// card
theme--error-dialog-content----normal = theme--dialog-content--normal
theme--error-dialog-content----hover  = theme--dialog-content--hover
theme--error-dialog-content----active = theme--dialog-content--active
// card
theme--error-dialog-footer-----normal = theme--dialog-footer--normal
theme--error-dialog-footer-----hover  = theme--dialog-footer--hover
theme--error-dialog-footer-----active = theme--dialog-footer--active
