@import "Assets/Plugins/UIToolkit.ThemeStyleSheet/Assets.UnityEngine.UIElements/StyleSheets/Utils/_Utils"

.main-widget-view-background
    add-view-background(null, img('project://database/Assets/Project.Content/Assets.Project.01.UI.00.MainScreen/Images/Background.png', null, scale-and-crop))

.loading-widget-view-background
    add-view-background(null, img('project://database/Assets/Project.Content/Assets.Project.01.UI.00.MainScreen/Images/Background.png', null, scale-and-crop))
    transition-property -unity-background-image-tint-color, translate, rotate, scale
    transition-duration 10s
    transition-timing-function ease

.unloading-widget-view-background
    add-view-background(null, img('project://database/Assets/Project.Content/Assets.Project.01.UI.00.MainScreen/Images/Background.png', null, scale-and-crop))
    transition-property -unity-background-image-tint-color, translate, rotate, scale
    transition-duration 1s
    transition-timing-function ease
