@import "../_Theme"

// alias
alias--field                 = // string: .unity-toggle.{state}
alias--field-label           = // string: .unity-toggle.{state} .unity-toggle__label
alias--field-input           = // string: .unity-toggle.{state} .unity-toggle__input
// alias
alias--field-input-checkmark = // string: .unity-toggle.{state} .unity-toggle__input .unity-toggle__checkmark

// style
.selector--field-input-checkmark // styles: add-theme(toggle-checkmark)

// style
.selector--field-input-checkmark // styles: add-layout(null, 16px, 16px, (0px), (1px), (0px))

// style
.selector--field-input-checkmark // styles: add-flex(0, 1, auto, auto)
