@import "../_Theme"

// alias
alias--field             = // string: .unity-base-popup-field.{state}
alias--field-label       = // string: .unity-base-popup-field.{state} .unity-base-popup-field__label
alias--field-input       = // string: .unity-base-popup-field.{state} .unity-base-popup-field__input
// alias
alias--field-input-text  = // string: .unity-base-popup-field.{state} .unity-base-popup-field__input .unity-base-popup-field__text
alias--field-input-arrow = // string: .unity-base-popup-field.{state} .unity-base-popup-field__input .unity-base-popup-field__arrow

// style
.selector--field-input-text  // styles: add-theme(null       )
.selector--field-input-arrow // styles: add-theme(popup-arrow)

// style
.selector--field-input-text  // styles: add-layout(null, auto, auto, (0px), (0px), (0px))
.selector--field-input-arrow // styles: add-layout(null, 12px, 12px, (2px), (0px), (0px))

// style
.selector--field-input-text  // styles: add-flex(1, 1, auto, auto)
.selector--field-input-arrow // styles: add-flex(0, 1, auto, auto)
