@import "../_Theme"

// alias
alias--group = // string: .group.{skin}.{state}

// style
.selector--group // styles: add-theme(scope)

// style
.selector--group        // styles: add-layout(null, auto, auto, (4px), (1px), (0px                ))
.selector--group.small  // styles: add-layout(null, auto, auto, (4px), (1px), (6px  6px  5px  5px ))
.selector--group.medium // styles: add-layout(null, auto, auto, (4px), (1px), (12px 12px 10px 10px))
.selector--group.large  // styles: add-layout(null, auto, auto, (4px), (1px), (24px 24px 20px 20px))

// style
.selector--group.column // styles: add-flex(0, 1, auto, auto).add-flex2(column, flex-start, null, stretch)
.selector--group.row    // styles: add-flex(0, 1, auto, auto).add-flex2(row,    flex-start, null, stretch)
