@import "../_Utils"

checkmark-image = '../../../Images/Check.png'

// dropdown
theme--dropdown-------normal         = hsla(  0,   0%,  90%, 1.00) bg(hsla(210,  0%, 15%, 0.99) img(null, null)                                 ) bd(hsla( 30, 10%, 30%, 1.00) 4px)
theme--dropdown-------hover          = hsla(  0,   0%, 100%, 1.00) bg(hsla(210,  0%, 15%, 0.99) img(null, null)                                 ) bd(hsla( 30, 10%, 50%, 1.00) 4px)

// dropdown-item
theme--dropdown-item--normal         = hsla(  0,   0%,  90%, 1.00) bg(hsla(  0,  0%, 0%,  0.00) img(null, null)                                 ) bd(hsla(  0,  0%, 0%,  0.00) 0px)
theme--dropdown-item--hover          = hsla(  0,   0%, 100%, 1.00) bg(hsla( 30, 80%, 40%, 1.00) img(null, null)                                 ) bd(hsla( 30, 80%, 50%, 1.00) 0px)
theme--dropdown-item--checked        = hsla(  0,   0%,  90%, 1.00) bg(hsla(210,  0%, 12%, 1.00) img(null, null)                                 ) bd(hsla(  0,  0%,  0%, 0.00) 0px)
theme--dropdown-item--checked--hover = hsla(  0,   0%, 100%, 1.00) bg(hsla( 30, 80%, 30%, 1.00) img(null, null)                                 ) bd(hsla( 30, 80%, 40%, 1.00) 0px)

// checkmark
theme--checkmark------normal         = null                        bg(hsla(  0,  0%,  0%, 0.00) img(checkmark-image, hsla( 60,  0%,  90%, 0.00))) bd(hsla(  0,  0%,  0%, 0.00) 2px)
theme--checkmark------hover          = null                        bg(hsla(  0,  0%,  0%, 0.00) img(checkmark-image, hsla( 60,  0%,  90%, 0.00))) bd(hsla(  0,  0%,  0%, 0.00) 2px)
theme--checkmark------checked        = null                        bg(hsla(  0,  0%,  0%, 0.00) img(checkmark-image, hsla( 60,  0%,  90%, 1.00))) bd(hsla(  0,  0%,  0%, 0.00) 2px)
theme--checkmark------checked--hover = null                        bg(hsla(  0,  0%,  0%, 0.00) img(checkmark-image, hsla( 60,  0%,  90%, 1.00))) bd(hsla(  0,  0%,  0%, 0.00) 2px)
