@import "../_Utils"

// scrolller-tracker
theme--scrolller-tracker--normal        = null bg(hsla( 60, 1%, 15%, 1.00) img(null, null)) bd(hsla( 30, 10%, 30%, 1.00) 4px)
theme--scrolller-tracker--hover         = null bg(hsla( 60, 1%, 15%, 1.00) img(null, null)) bd(hsla( 30, 10%, 30%, 1.00) 4px)
theme--scrolller-tracker--active        = null bg(hsla( 60, 1%, 15%, 1.00) img(null, null)) bd(hsla( 30, 10%, 30%, 1.00) 4px)

// scrolller-dragger
theme--scrolller-dragger--normal        = null bg(hsla( 60, 1%, 30%, 1.00) img(null, null)) bd(hsla( 30, 10%, 30%, 1.00) 4px)
theme--scrolller-dragger--hover         = null bg(hsla( 60, 1%, 31%, 1.00) img(null, null)) bd(hsla( 30, 10%, 50%, 1.00) 4px)
theme--scrolller-dragger--active        = null bg(hsla( 60, 1%, 29%, 1.00) img(null, null)) bd(hsla( 30, 10%, 20%, 1.00) 4px)
// scrolller-dragger
theme--scrolller-dragger--focus         = null bg(hsla( 60, 1%, 30%, 1.00) img(null, null)) bd(hsla(210, 80%, 40%, 1.00) 4px)
theme--scrolller-dragger--focus--hover  = null bg(hsla( 60, 1%, 31%, 1.00) img(null, null)) bd(hsla(210, 80%, 50%, 1.00) 4px)
theme--scrolller-dragger--focus--active = null bg(hsla( 60, 1%, 29%, 1.00) img(null, null)) bd(hsla(210, 80%, 20%, 1.00) 4px)
