@import "../_Utils"

// view
theme--view--normal          = hsla(0, 0%, 90%, 1.00) bg(hsla(  0, 0.0%,  0%, 0.00) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--hover           = hsla(0, 0%, 90%, 1.00) bg(hsla(  0, 0.0%,  0%, 0.00) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--active          = hsla(0, 0%, 90%, 1.00) bg(hsla(  0, 0.0%,  0%, 0.00) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--light10--normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 30%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--light10--hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 30%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--light10--active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 30%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--light9---normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 29%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--light9---hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 29%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--light9---active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 29%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--light8---normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 28%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--light8---hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 28%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--light8---active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 28%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--light7---normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 27%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--light7---hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 27%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--light7---active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 27%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--light6---normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 26%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--light6---hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 26%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--light6---active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 26%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--light5---normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 25%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--light5---hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 25%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--light5---active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 25%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--light4---normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 24%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--light4---hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 24%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--light4---active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 24%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--light3---normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 23%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--light3---hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 23%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--light3---active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 23%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--light2---normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 22%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--light2---hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 22%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--light2---active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 22%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--light----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 21%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--light----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 21%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--light----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 21%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--gray-----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 20%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--gray-----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 20%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--gray-----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 20%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--dark-----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 19%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--dark-----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 19%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--dark-----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 19%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--dark2----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 18%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--dark2----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 18%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--dark2----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 18%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--dark3----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 17%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--dark3----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 17%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--dark3----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 17%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--dark4----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 16%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--dark4----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 16%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--dark4----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 16%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--dark5----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 15%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--dark5----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 15%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--dark5----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 15%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--dark6----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 14%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--dark6----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 14%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--dark6----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 14%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--dark7----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 13%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--dark7----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 13%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--dark7----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 13%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--dark8----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 12%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--dark8----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 12%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--dark8----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 12%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--dark9----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 11%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--dark9----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 11%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--dark9----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 11%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// view
theme--view--dark10---normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 10%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--dark10---hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 10%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--view--dark10---active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 10%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
