@import "../_Utils"

// scope
theme--scope--normal          = hsla(0, 0%, 90%, 1.00) bg(hsla(  0, 0.0%,  0%, 0.00) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--hover           = hsla(0, 0%, 90%, 1.00) bg(hsla(  0, 0.0%,  0%, 0.00) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--active          = hsla(0, 0%, 90%, 1.00) bg(hsla(  0, 0.0%,  0%, 0.00) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--light10--normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 30%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--light10--hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 30%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--light10--active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 30%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--light9---normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 29%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--light9---hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 29%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--light9---active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 29%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--light8---normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 28%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--light8---hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 28%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--light8---active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 28%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--light7---normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 27%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--light7---hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 27%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--light7---active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 27%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--light6---normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 26%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--light6---hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 26%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--light6---active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 26%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--light5---normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 25%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--light5---hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 25%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--light5---active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 25%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--light4---normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 24%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--light4---hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 24%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--light4---active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 24%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--light3---normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 23%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--light3---hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 23%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--light3---active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 23%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--light2---normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 22%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--light2---hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 22%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--light2---active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 22%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--light----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 21%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--light----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 21%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--light----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 21%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--gray-----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 20%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--gray-----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 20%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--gray-----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 20%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--dark-----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 19%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--dark-----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 19%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--dark-----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 19%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--dark2----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 18%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--dark2----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 18%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--dark2----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 18%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--dark3----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 17%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--dark3----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 17%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--dark3----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 17%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--dark4----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 16%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--dark4----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 16%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--dark4----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 16%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--dark5----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 15%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--dark5----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 15%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--dark5----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 15%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--dark6----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 14%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--dark6----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 14%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--dark6----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 14%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--dark7----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 13%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--dark7----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 13%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--dark7----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 13%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--dark8----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 12%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--dark8----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 12%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--dark8----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 12%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--dark9----normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 11%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--dark9----hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 11%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--dark9----active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 11%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
// scope
theme--scope--dark10---normal = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 10%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--dark10---hover  = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 10%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
theme--scope--dark10---active = hsla(0, 0%, 90%, 1.00) bg(hsla(210, 0.5%, 10%, 0.99) img(null, null)) bd(hsla(30, 10%, 30%, 1.00) 4px)
