@import "../../Themes/_Themes"

// style
.view
    add-flex(0, 1, auto, auto)
    add-flex2(column, flex-start, null, stretch)
.widget-view
    add-layout-position(absolute)
    add-layout-size(100%, 100%)
    add-layout-box(0px, 0px, 0px)
.root-widget-view
    add-layout-position(absolute)
    add-layout-size(100%, 100%)
    add-layout-box(0px, 0px, 0px)
.left-widget-view
    add-layout-position(absolute, right: 60%, bottom: 10%)
    add-layout-size(600px, auto)
    add-layout-box(0px, 0px, 0px)
.small-widget-view
    add-layout-position(absolute, left: 50%, top: 50%)
    add-layout-size(1400px, 700px)
    add-layout-box(0px, 0px, 0px)
    translate -50% -50%()
.medium-widget-view
    add-layout-position(absolute, left: 50%, top: 50%)
    add-layout-size(1600px, 800px)
    add-layout-box(0px, 0px, 0px)
    translate -50% -50%
.large-widget-view
    add-layout-position(absolute, left: 50%, top: 50%)
    add-layout-size(1800px, 900px)
    add-layout-box(0px, 0px, 0px)
    translate -50% -50%
.dialog-widget-view
.info-dialog-widget-view
.warning-dialog-widget-view
.error-dialog-widget-view
    add-layout-position(absolute, left: 50%, top: 49%)
    add-layout-size(1000px, 500px)
    add-layout-box(0px, 0px, 0px)
    translate -50% -50%
