@import "../_Utils"

popup-arrow-image = '../../../Images/DropdownArrow.png'
checkmark-image   = '../../../Images/Check.png'

// field
theme--field--------normal                   = null                        bg(hsla(  0, 0%,  0%, 0.00) img(null, null)                                   ) bd(hsla(  0,  0%,  0%, 0.00) 4px)
theme--field--------hover                    = null                        bg(hsla(  0, 0%,  0%, 0.00) img(null, null)                                   ) bd(hsla(  0,  0%,  0%, 0.00) 4px)
theme--field--------active                   = null                        bg(hsla(  0, 0%,  0%, 0.00) img(null, null)                                   ) bd(hsla(  0,  0%,  0%, 0.00) 4px)
// field
theme--field--------focus                    = null                        bg(hsla(  0, 0%,  0%, 0.00) img(null, null)                                   ) bd(hsla(  0,  0%,  0%, 0.00) 4px)
theme--field--------focus--hover             = null                        bg(hsla(  0, 0%,  0%, 0.00) img(null, null)                                   ) bd(hsla(  0,  0%,  0%, 0.00) 4px)
theme--field--------focus--active            = null                        bg(hsla(  0, 0%,  0%, 0.00) img(null, null)                                   ) bd(hsla(  0,  0%,  0%, 0.00) 4px)
// field
theme--field--------invalid                  = null                        bg(hsla(  0, 0%,  0%, 0.00) img(null, null)                                   ) bd(hsla(  0,  0%,  0%, 0.00) 4px)
theme--field--------invalid--hover           = null                        bg(hsla(  0, 0%,  0%, 0.00) img(null, null)                                   ) bd(hsla(  0,  0%,  0%, 0.00) 4px)
theme--field--------invalid--active          = null                        bg(hsla(  0, 0%,  0%, 0.00) img(null, null)                                   ) bd(hsla(  0,  0%,  0%, 0.00) 4px)
// field
theme--field--------invalid--focus           = null                        bg(hsla(  0, 0%,  0%, 0.00) img(null, null)                                   ) bd(hsla(  0,  0%,  0%, 0.00) 4px)
theme--field--------invalid--focus--hover    = null                        bg(hsla(  0, 0%,  0%, 0.00) img(null, null)                                   ) bd(hsla(  0,  0%,  0%, 0.00) 4px)
theme--field--------invalid--focus--active   = null                        bg(hsla(  0, 0%,  0%, 0.00) img(null, null)                                   ) bd(hsla(  0,  0%,  0%, 0.00) 4px)

// field-label
theme--field-label--normal                   = hsla(  0,   0%,  90%, 1.00) bg(hsla( 60, 1%, 30%, 1.00) img(null, null)                                   ) bd(hsla( 30, 10%, 30%, 1.00) 4px)
theme--field-label--hover                    = hsla(  0,   0%, 100%, 1.00) bg(hsla( 60, 1%, 31%, 1.00) img(null, null)                                   ) bd(hsla( 30, 10%, 50%, 1.00) 4px)
theme--field-label--active                   = hsla(  0,   0%,  90%, 1.00) bg(hsla( 60, 1%, 29%, 1.00) img(null, null)                                   ) bd(hsla( 30, 10%, 20%, 1.00) 4px)
// field-labelbd(
theme--field-label--focus                    = hsla(210,  80%,  50%, 1.00) bg(hsla( 60, 1%, 30%, 1.00) img(null, null)                                   ) bd(hsla(210, 80%, 40%, 1.00) 4px)
theme--field-label--focus--hover             = hsla(210, 100%,  60%, 1.00) bg(hsla( 60, 1%, 31%, 1.00) img(null, null)                                   ) bd(hsla(210, 80%, 50%, 1.00) 4px)
theme--field-label--focus--active            = hsla(210,  80%,  50%, 1.00) bg(hsla( 60, 1%, 29%, 1.00) img(null, null)                                   ) bd(hsla(210, 80%, 20%, 1.00) 4px)
// field-label
theme--field-label--invalid                  = hsla(  0,  80%,  50%, 1.00) bg(hsla( 60, 1%, 30%, 1.00) img(null, null)                                   ) bd(hsla(  0, 80%, 40%, 1.00) 4px)
theme--field-label--invalid--hover           = hsla(  0, 100%,  60%, 1.00) bg(hsla( 60, 1%, 31%, 1.00) img(null, null)                                   ) bd(hsla(  0, 80%, 50%, 1.00) 4px)
theme--field-label--invalid--active          = hsla(  0,  80%,  50%, 1.00) bg(hsla( 60, 1%, 29%, 1.00) img(null, null)                                   ) bd(hsla(  0, 80%, 20%, 1.00) 4px)
// field-label
theme--field-label--invalid--focus           = hsla(  0,  80%,  50%, 1.00) bg(hsla( 60, 1%, 30%, 1.00) img(null, null)                                   ) bd(hsla(210, 80%, 40%, 1.00) 4px)
theme--field-label--invalid--focus--hover    = hsla(  0, 100%,  60%, 1.00) bg(hsla( 60, 1%, 31%, 1.00) img(null, null)                                   ) bd(hsla(210, 80%, 50%, 1.00) 4px)
theme--field-label--invalid--focus--active   = hsla(  0,  80%,  50%, 1.00) bg(hsla( 60, 1%, 29%, 1.00) img(null, null)                                   ) bd(hsla(210, 80%, 20%, 1.00) 4px)

// field-input
theme--field-input--normal                   = hsla(  0,   0%,  90%, 1.00) bg(hsla( 60, 1%, 15%, 1.00) img(null, null)                                   ) bd(hsla( 30, 10%, 30%, 1.00) 4px)
theme--field-input--hover                    = hsla(  0,   0%, 100%, 1.00) bg(hsla( 60, 1%, 15%, 1.00) img(null, null)                                   ) bd(hsla( 30, 10%, 50%, 1.00) 4px)
theme--field-input--active                   = hsla(  0,   0%,  90%, 1.00) bg(hsla( 60, 1%, 15%, 1.00) img(null, null)                                   ) bd(hsla( 30, 10%, 20%, 1.00) 4px)
// field-input
theme--field-input--focus                    = hsla(  0,   0%,  90%, 1.00) bg(hsla( 60, 1%, 15%, 1.00) img(null, null)                                   ) bd(hsla(210, 80%, 40%, 1.00) 4px)
theme--field-input--focus--hover             = hsla(  0,   0%, 100%, 1.00) bg(hsla( 60, 1%, 15%, 1.00) img(null, null)                                   ) bd(hsla(210, 80%, 50%, 1.00) 4px)
theme--field-input--focus--active            = hsla(  0,   0%,  90%, 1.00) bg(hsla( 60, 1%, 15%, 1.00) img(null, null)                                   ) bd(hsla(210, 80%, 20%, 1.00) 4px)
// field-input
theme--field-input--invalid                  = hsla(  0,   0%,  90%, 1.00) bg(hsla( 60, 1%, 15%, 1.00) img(null, null)                                   ) bd(hsla(  0, 80%, 40%, 1.00) 4px)
theme--field-input--invalid--hover           = hsla(  0,   0%, 100%, 1.00) bg(hsla( 60, 1%, 15%, 1.00) img(null, null)                                   ) bd(hsla(  0, 80%, 50%, 1.00) 4px)
theme--field-input--invalid--active          = hsla(  0,   0%,  90%, 1.00) bg(hsla( 60, 1%, 15%, 1.00) img(null, null)                                   ) bd(hsla(  0, 80%, 20%, 1.00) 4px)
// field-input
theme--field-input--invalid--focus           = hsla(  0,   0%,  90%, 1.00) bg(hsla( 60, 1%, 15%, 1.00) img(null, null)                                   ) bd(hsla(210, 80%, 40%, 1.00) 4px)
theme--field-input--invalid--focus--hover    = hsla(  0,   0%, 100%, 1.00) bg(hsla( 60, 1%, 15%, 1.00) img(null, null)                                   ) bd(hsla(210, 80%, 50%, 1.00) 4px)
theme--field-input--invalid--focus--active   = hsla(  0,   0%,  90%, 1.00) bg(hsla( 60, 1%, 15%, 1.00) img(null, null)                                   ) bd(hsla(210, 80%, 20%, 1.00) 4px)

// popup-arrow
theme--popup-arrow-------normal              = null                        bg(hsla(  0, 0%,  0%, 0.00) img(popup-arrow-image, hsla( 60,  0%,  80%, 1.00))) bd(hsla(  0,  0%,  0%, 0.00) 2px)
theme--popup-arrow-------hover               = null                        bg(hsla(  0, 0%,  0%, 0.00) img(popup-arrow-image, hsla( 60,  0%,  81%, 1.00))) bd(hsla(  0,  0%,  0%, 0.00) 2px)
theme--popup-arrow-------active              = null                        bg(hsla(  0, 0%,  0%, 0.00) img(popup-arrow-image, hsla( 60,  0%,  79%, 1.00))) bd(hsla(  0,  0%,  0%, 0.00) 2px)

// slider-tracker
theme--slider-tracker----normal              = null                        bg(hsla( 60, 1%, 30%, 1.00) img(null,              null,                     )) bd(hsla( 30, 20%, 30%, 0.00) 2px)
theme--slider-tracker----hover               = null                        bg(hsla( 60, 1%, 31%, 1.00) img(null,              null,                     )) bd(hsla( 30, 10%, 30%, 0.50) 2px)
theme--slider-tracker----active              = null                        bg(hsla( 60, 1%, 29%, 1.00) img(null,              null,                     )) bd(hsla( 30, 10%, 30%, 0.50) 2px)

// slider-dragger
theme--slider-dragger----normal              = null                        bg(hsla( 60, 1%, 80%, 1.00) img(null,              null,                     )) bd(hsla( 30, 20%, 30%, 0.00) 2px)
theme--slider-dragger----hover               = null                        bg(hsla( 60, 1%, 81%, 1.00) img(null,              null,                     )) bd(hsla( 30, 10%, 30%, 0.50) 2px)
theme--slider-dragger----active              = null                        bg(hsla( 60, 1%, 79%, 1.00) img(null,              null,                     )) bd(hsla( 30, 10%, 30%, 0.50) 2px)

// toggle-checkmark
theme--toggle-checkmark--normal              = null                        bg(hsla( 60, 1%, 80%, 1.00) img(checkmark-image,   hsla(  0,  0%,  10%, 0.00))) bd(hsla( 30, 20%, 30%, 0.00) 2px)
theme--toggle-checkmark--hover               = null                        bg(hsla( 60, 1%, 81%, 1.00) img(checkmark-image,   hsla(  0,  0%,  10%, 0.00))) bd(hsla( 30, 10%, 30%, 0.50) 2px)
theme--toggle-checkmark--active              = null                        bg(hsla( 60, 1%, 79%, 1.00) img(checkmark-image,   hsla(  0,  0%,  10%, 0.00))) bd(hsla( 30, 10%, 30%, 0.50) 2px)
theme--toggle-checkmark--checked             = null                        bg(hsla( 60, 1%, 80%, 1.00) img(checkmark-image,   hsla(  0,  0%,  10%, 1.00))) bd(hsla( 30, 20%, 30%, 0.00) 2px)
theme--toggle-checkmark--checked--hover      = null                        bg(hsla( 60, 1%, 81%, 1.00) img(checkmark-image,   hsla(  0,  0%,  10%, 1.00))) bd(hsla( 30, 10%, 30%, 0.50) 2px)
theme--toggle-checkmark--checked--active     = null                        bg(hsla( 60, 1%, 79%, 1.00) img(checkmark-image,   hsla(  0,  0%,  10%, 1.00))) bd(hsla( 30, 10%, 30%, 0.50) 2px)
