@import "../../Themes/_Themes"

// alias
alias--label = // string: .unity-label.{skin}

// style
.selector--label // styles: add-text(upper-left, null, null)

// style
.selector--label // styles: add-theme(null)

// style
.selector--label        // styles: add-layout(null, auto, auto, (4px), (1px), (0px  0px  0px  0px ))
.selector--label.small  // styles: add-layout(null, auto, auto, (4px), (1px), (6px  6px  5px  5px ))
.selector--label.medium // styles: add-layout(null, auto, auto, (4px), (1px), (12px 12px 10px 10px))
.selector--label.large  // styles: add-layout(null, auto, auto, (4px), (1px), (24px 24px 20px 20px))

// style
.selector--label // styles: add-flex(0, 1, auto, auto)
